@page "/products/{SKU}"
@using InventiCloud.Components.UI
@using InventiCloud.Services.Interface
@using Microsoft.EntityFrameworkCore
@using InventiCloud.Entities
@inject IDbContextFactory<InventiCloud.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject IProductService ProductService
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator")]
<PageTitle>Details</PageTitle>

<MudContainer Class="pt-5" MaxWidth="MaxWidth.Large">
    <div class="d-flex gap-4 align-items-center mb-4">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" aria-label="delete" Href="/products" />
        <MudText Typo="Typo.h4">@Product.ProductName</MudText>
    </div>
    <EditForm method="post" Model="Product" OnValidSubmit="UpdateProduct" FormName="create" Enhance>
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h6">PRODUCT DETAILS</MudText>
            </MudItem>
            <MudItem xs="12" sm="8">
                <MudTextField @bind-Value="Product.ProductName" Label="Name" For="@(() => Product.ProductName)" Variant="Variant.Outlined" />
                <MudTextField @bind-Value="Product.Brand" Label="Brand" For="@(() => Product.Brand)" Variant="Variant.Outlined" />
                <MudTextField @bind-Value="Product.SKU" Label="SKU" For="@(() => Product.SKU)" Variant="Variant.Outlined" />
                <MudSelect Label="Category" @bind-Value="Product.CategoryId" For="@(() => Product.CategoryId)"
                           Variant="Variant.Outlined">
                    <MudSelectItem T="int" Value="0" Disabled="true">Select Category</MudSelectItem>
                    @foreach (var category in _categories)
                    {
                        <MudSelectItem Value="@category.CategoryId">@category.CategoryName</MudSelectItem>
                    }
                </MudSelect>

            </MudItem>
            <MudItem xs="12" sm="4">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
            </MudItem>

            <MudItem xs="12">
                <MudTextField @bind-Value="Product.Description" Label="Description" For="@(() => Product.Description)" Variant="Variant.Outlined" Lines="5" />
            </MudItem>

            <MudItem xs="12">
                <MudText Typo="Typo.h6">PRICING</MudText>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudNumericField @bind-Value="Product.UnitCost" HideSpinButtons="true" Label="Cost" For="@(() => Product.UnitCost)" Variant="Variant.Outlined" @bind-Value:after="After" />
                <MudNumericField @bind-Value="Product.UnitPrice" HideSpinButtons="true" Label="Price" For="@(() => Product.UnitPrice)" Variant="Variant.Outlined" @bind-Value:after="After" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField id="Profit" Variant="Variant.Outlined" Label="Profit" @bind-Value="Profit" Immediate="true" ReadOnly="true" />
                <MudTextField id="Margin" Variant="Variant.Outlined" Label="Margin" @bind-Value="Margin" Immediate="true" ReadOnly="true" />
            </MudItem>

            <MudItem xs="12">
                <MudText Typo="Typo.h6">INVENTORY</MudText>
            </MudItem>

            <MudItem xs="12">
                <MudSimpleTable Style="overflow-x: auto;">
                    <thead>
                        <tr>
                            @foreach (var h in headings)
                            {
                                <th>@h</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in rows)
                        {
                            <tr>
                                @foreach (var x in row.Split())
                                {
                                    <td>@x</td>
                                }
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
        </MudGrid>

        <MudItem xs="12" Class="d-flex justify-end align-items-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">SAVE CHANGES</MudButton>
        </MudItem>

    </EditForm>



</MudContainer>

@code {
    #nullable enable
    private const string DefaultDragClass = "relative rounded-lg border-2 border-dashed pa-4 mt-4 mud-width-full mud-height-full";
    private string _dragClass = DefaultDragClass;
    private readonly List<string> _fileNames = new();
    private MudFileUpload<IReadOnlyList<IBrowserFile>>? _fileUpload;


    string? _searchBrand;
    private List<string?> _brands = new();
    private string[] Units = {
        "kg",
        "lbs",
        "oz",
        "g"
     };

    string[] headings = { "Branch", "Location", "Onhand", "Incoming", "Unavailable" };
    string[] rows = { };


    [SupplyParameterFromForm]
    private Product Product { get; set; } = new();


    private List<Category> _categories = new();
    private List<Inventory> _inventories = new();
    private List<Branch> _branches = new();


    [Parameter]
    public string SKU { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Product = await ProductService.GetProductBySKUAsync(SKU);

        if (Product is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }


    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateProduct()
    {
        try
        {
            await ProductService.UpdateProductAsync(Product);
        }
        catch (Exception ex)
        {
            Snackbar.Add("An error occurred while deleting the category.", Severity.Error);

        }
        NavigationManager.NavigateTo("/products");
    }

    // events
    async Task OpenDialogAsync()    
    {
        var parameters = new DialogParameters<DialogComponent>
        {
            {x => x.ContentText, $"Are you sure you want to delete the product '{Product.ProductName}'? This action cannot be undone."}
        };

        var dialog = await DialogService.ShowAsync<DialogComponent>("Delete Product", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            try
            {
                await ProductService.DeleteProductAsync(Product);
                Snackbar.Add("Product Deleted", Severity.Success);

            }
            catch (InvalidOperationException ex)
            {
                Snackbar.Add(ex.Message, Severity.Error);
            }
            catch (Exception ex)
            {
                Snackbar.Add("An error occurred while deleting the category.", Severity.Error);
            }
        }

    }

    private string Profit = "--";
    private string Margin = "--";
    private decimal? _profit;
    private decimal? _margin;

    private void After()
    {

        if (Product.UnitPrice == 0)
        {
            Profit = "--";
            Margin = "--";

        }
        else
        {
            _profit = Product.UnitPrice - Product.UnitCost;
            _margin = _profit / Product.UnitPrice;

            Profit = String.Format(new System.Globalization.CultureInfo("en-PH"), "{0:C2}", _profit);
            Margin = $"{_margin:P2}"; // Displays percentage with 2 decimal places
        }

    }

    private async Task<IEnumerable<string>> Search(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5, token);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return _brands;

        return _brands.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task ClearAsync()
    {
        await (_fileUpload?.ClearAsync() ?? Task.CompletedTask);
        _fileNames.Clear();
        ClearDragClass();
    }

    private Task OpenFilePickerAsync()
        => _fileUpload?.OpenFilePickerAsync() ?? Task.CompletedTask;

    private void OnInputFileChanged(InputFileChangeEventArgs e)
    {
        ClearDragClass();
        var files = e.GetMultipleFiles();
        foreach (var file in files)
        {
            _fileNames.Add(file.Name);
        }
    }

    private void Upload()
    {
        // Upload the files here
        // Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
        // Snackbar.Add("TODO: Upload your files!");
    }

    private void SetDragClass()
        => _dragClass = $"{DefaultDragClass} mud-border-primary";

    private void ClearDragClass()
        => _dragClass = DefaultDragClass;
}
