@page "/inventory/products"
@using InventiCloud.Services.Interface
@using Microsoft.EntityFrameworkCore
@using InventiCloud.Entities
@using InventiCloud.Data
@implements IAsyncDisposable
@inject IProductService ProductService
@inject IInventoryService InventoryService
@inject ICategoryService CategoryService

<PageTitle>Index</PageTitle>

<MudText Class="bold mb-2" Typo="Typo.h4">Products</MudText>
@if (_products == null)
{
    <MudContainer Class="d-flex justify-center align-items-center" Style="height: 100vh;">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </MudContainer>
}
else
{
    @if (!_products.Any())
    {

        <MudPaper Height="500px" Class="justify-center align-content-center">
            <MudText Class="bol" Typo="Typo.h6" Align="Align.Center">Add your products</MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                Your product catalog is currently empty. Click the "Add Product"
                button to get started.
            </MudText>
            <MudContainer Class="d-flex justify-center mt-2">
                <MudButton Variant="Variant.Filled" Href="inventory/products/create" Color="Color.Primary" Class="text-uppercase">
                    Add Product
                </MudButton>
            </MudContainer>
        </MudPaper>
    }
    else
    {

        <MudGrid>
            <MudItem sm="6">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div>
                        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Variant="Variant.Outlined" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </div>
                    <div>
                        <MudSelect @bind-Value="@selectedCategoryId" Variant="Variant.Outlined">
                            <MudSelectItem Value="0">All</MudSelectItem>

                            @foreach (Category b in _categories)
                            {
                                <MudSelectItem Value="@b.CategoryId">@b.CategoryName</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                </MudStack>

            </MudItem>

            <MudItem sm="6">
                <MudButton Variant="Variant.Filled" Href="inventory/products/create" Color="Color.Primary" Class="text-uppercase">
                    Add Product
                </MudButton>
            </MudItem>

        </MudGrid>

        <MudDataGrid @ref="dataGrid" T="Product" ServerData="ServerReload" MultiSelection="true">
            <Columns>
                <PropertyColumn Property="product => product.SKU" />
                <PropertyColumn Property="product => product.ProductName" Title="Product Name"/>
                <PropertyColumn Property="product => product.Category.CategoryName" Title="Category" />
                <PropertyColumn Property="product => product.UnitCost" Title="Cost" />
                <PropertyColumn Property="product => product.UnitPrice" Title="Price" />
                <TemplateColumn CellClass="d-flex justify-end">
                    <CellTemplate>
                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="Open user menu">
                            <MudMenuItem Label="Edit" href="@($"/inventory/products/{context.Item.SKU}")" />
                        </MudMenu>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="Product" />
            </PagerContent>
        </MudDataGrid>



    }

}



@code {
    string searchString = null;
    private int selectedBranchId;
    private int selectedCategoryId;


    private IEnumerable<Product>? _products;
    private IEnumerable<Category> _categories;

    MudDataGrid<Product> dataGrid = new();

    protected override async Task OnInitializedAsync()
    {

        _products = await ProductService.GetAllProductAsync();
        _categories = await CategoryService.GetAllCategoryAsync();

    }

    private async Task<GridData<Product>> ServerReload(GridState<Product> state)
    {
        _products = await ProductService.GetAllProductAsync();

        _products = _products.Where(product =>
        {
            if (string.IsNullOrWhiteSpace(searchString))
                return true;
            if (selectedCategoryId == 0)
                return true;
            if (selectedBranchId == 0)
                return true;
            if (product.SKU.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (product.ProductName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (product.Brand.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (product.Category.CategoryName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (product.CategoryId.Equals(selectedCategoryId))
                return true;
            return false;
        }).ToArray();
        var totalItems = _products.Count();

        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        if (sortDefinition != null)
        {
            switch (sortDefinition.SortBy)
            {
                case nameof(Product.ProductName):
                    _products = _products.OrderByDirection(
                        sortDefinition.Descending ? SortDirection.Descending : SortDirection.Ascending,
                        o => o.ProductName
                    );
                    break;
            }
        }

        var pagedData = _products.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        return new GridData<Product>
            {
                TotalItems = totalItems,
                Items = pagedData
            };
    }




    private Task OnSearch(string text)
    {
        searchString = text;
        return dataGrid.ReloadServerData();
    }


    public async ValueTask DisposeAsync() => await ProductService.DisposeAsync();
}
