@page "/supplier/create"
@using InventiCloud.Data
@using InventiCloud.Utils
@using Microsoft.EntityFrameworkCore
@using InventiCloud.Entities
@inject IDbContextFactory<InventiCloud.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Create</PageTitle>

<MudContainer Class="pt-5" MaxWidth="MaxWidth.Large">
    <div class="d-flex gap-4 align-items-center mb-4">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" aria-label="delete" Href="/catalog/products" />
        <MudText Typo="Typo.h4">CREATE SUPPLIER</MudText>
    </div>

    <EditForm method="post" Model="Supplier" OnValidSubmit="AddSupplier" FormName="create" Enhance>
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h6">SUPPLIER DETAILS</MudText>
            </MudItem>
            <MudTextField @bind-Value="Supplier.SupplierName" Label="Supplier Name" For="@(() => Supplier.SupplierName)" Variant="Variant.Outlined" />
            <MudTextField @bind-Value="Supplier.SupplierId" Label="Supplier Code" For="@(() => Supplier.SupplierId)" Variant="Variant.Outlined" />
            <MudTextField @bind-Value="Supplier.Company" Label="Company Name" For="@(() => Supplier.Company)" Variant="Variant.Outlined" />
            <MudItem xs="12" sm="6">
                <MudNumericField @bind-Value="Supplier.Country" HideSpinButtons="true" Label="Country" For="@(() => Supplier.Country)" Variant="Variant.Outlined"/>
                <MudNumericField @bind-Value="Supplier.City" HideSpinButtons="true" Label="City" For="@(() => Supplier.City)" Variant="Variant.Outlined"/>
                <MudNumericField @bind-Value="Supplier.PostalCode" HideSpinButtons="true" Label="Postal Code" For="@(() => Supplier.PostalCode)" Variant="Variant.Outlined" />
            </MudItem>
            <MudTextField @bind-Value="Supplier.ContactPerson   " Label="Contact Person" For="@(() => Supplier.ContactPerson)" Variant="Variant.Outlined" />
            <MudTextField @bind-Value="Supplier.Email" Label="Email Address" For="@(() => Supplier.Email)" Variant="Variant.Outlined" />
            <MudTextField @bind-Value="Supplier.PhoneNumber" Label="Phone Number" For="@(() => Supplier.PhoneNumber)" Variant="Variant.Outlined" />
        </MudGrid>
        <MudItem xs="12" Class="justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">CREATE SUPPLIER</MudButton>
        </MudItem>
    </EditForm>
</MudContainer>

@code {
    [SupplyParameterFromForm]
    private Supplier Supplier { get; set; } = new();

    private ApplicationDbContext context = default!;


    private async Task AddSupplier()
    {
        context = DbFactory.CreateDbContext();
        context.Suppliers.Add(Supplier);
        await context.SaveChangesAsync();


        NavigationManager.NavigateTo("/supplier");
    }
}
