@page "/supplier"
@using InventiCloud.Components.UI
@using InventiCloud.Services
@using InventiCloud.Services.Interface
@using Microsoft.EntityFrameworkCore
@using InventiCloud.Models
@using InventiCloud.Data
@inject IDbContextFactory<InventiCloud.Data.ApplicationDbContext> DbFactory
@inject IDialogService DialogService
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar



<MudText Class="bold mb-2" Typo="Typo.h4">Suppliers</MudText>
@if (_supplier == null)
{
    <MudContainer Class="d-flex justify-center align-items-center" Style="height: 100vh;">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </MudContainer>
}
else
{
    <MudGrid>
        <MudItem sm="6">
            <EditForm method="post" Model="supplier" OnValidSubmit="AddSupplier" FormName="create" Enhance>
                <DataAnnotationsValidator />
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div>
                        <MudTextField @bind-Value="supplier.SupplierName" Label="Supplier Name" For="@(() => supplier.SupplierName)" Variant="Variant.Outlined" />

                    </div>
                    <div>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Add Supplier</MudButton>
                    </div>
                </MudStack>
            </EditForm>
        </MudItem>
        <MudItem sm="6">
            <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Variant="Variant.Outlined" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </MudItem>
    </MudGrid>
    @if (!_supplier.Any())
    {

        <MudPaper Height="500px" Class="justify-center align-content-center">
            <MudText Class="bold" Typo="Typo.h6" Align="Align.Center">Add Suppliers</MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">Your supplier catalog is currently empty. Click the "ADD SUPPLIERS" button to get started.</MudText>
        </MudPaper>
    }
    else
    {
        <MudDataGrid @ref="dataGrid" T="Supplier" ServerData="ServerReload" RowClick="@RowClicked">
            <Columns>
                <PropertyColumn Property="supplier => supplier.SupplierName" Title="Supplier Name" />
                @* <PropertyColumn Property="supplier => supplier.Attributes.Count()" Title="Attributes" /> *@
                <TemplateColumn CellClass="d-flex justify-end">
                    <CellTemplate>
                        <MudStack Row>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" OnClick="@(() => OpenDialogAsync(context.Item))" />
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="Supplier" />
            </PagerContent>
        </MudDataGrid>

    }

}

@code {
    private string _searchString;
    MudDataGrid<Supplier> dataGrid = new();

    [SupplyParameterFromForm]
    private Supplier supplier { get; set; } = new();
    string searchString = null;
    private IEnumerable<Supplier>? _supplier;

    protected override async Task OnInitializedAsync()
    {
        // context = DbFactory.CreateDbContext();
        _supplier = await SupplierService.GetAllSupplierAsync();
    }

    private async Task AddSupplier()
    {
        // await context.AttributeSet.AddAsync(attributeSet);
        await SupplierService.AddSupplier(supplier);

        supplier = new();
        await dataGrid.ReloadServerData();
    }

    async Task OpenDialogAsync(Supplier supplier)
    {
        var parameters = new DialogParameters<DialogComponent>
        {
            {x => x.ContentText, $"Are you sure you want to delete the supplier '{supplier.SupplierName}'? This action cannot be undone."}
        };

        var dialog = await DialogService.ShowAsync<DialogComponent>("Delete Supplier Name", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            try
            {
                await SupplierService.DeleteSupplier(supplier);
                Snackbar.Add("Supplier Name Deleted", Severity.Success);
                await dataGrid.ReloadServerData();

            }
            catch (InvalidOperationException ex)
            {
                Snackbar.Add(ex.Message, Severity.Error);
            }
            catch (Exception ex)
            {
                Snackbar.Add("An error occurred while deleting the category.", Severity.Error);
            }
        }

    }

    void RowClicked(DataGridRowClickEventArgs<AttributeSet> args)
    {


        if (args.Item == null)
        {
            return;
        }

        NavigationManager.NavigateTo($"/product-management/attributesets/{args.Item.AttributeSetName}");

    }

    private async Task<GridData<Supplier>> ServerReload(GridState<AttributeSet> state)
    {

        _supplier = await Supplier.GetAllSupplierAsync();
        await Task.Delay(300);
        _supplier = _supplier.Where(supplier =>
        {
            if (string.IsNullOrWhiteSpace(searchString))
                return true;
            if (supplier.SupplierName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            return false;
        }).ToArray();
        var totalItems = _supplier.Count();

        var sortDefinition = state.SortDefinitions.FirstOrDefault();
        if (sortDefinition != null)
        {
            switch (sortDefinition.SortBy)
            {
                case nameof(Supplier.SupplierName):
                    _supplier = _supplier.OrderByDirection(
                        sortDefinition.Descending ? SortDirection.Descending : SortDirection.Ascending,
                        o => o.SupplierName
                    );
                    break;
            }
        }
    }


    private Task OnSearch(string text)
    {
        searchString = text;
        return dataGrid.ReloadServerData();
    }
}
